/* 布局 */
body,html{width: 100%;height: 100%;}
.g-doc{width: 100%;height: 100%;position: relative;}
.g-hd{width: 100%;height: 32px;position: absolute;top: 0; background: #bc2f2e;}
.g-bd{width: 100%;position: absolute; top: 32px; bottom: 60px; overflow: auto;}
.g-ft{width: 100%;height: 60px; position: absolute; bottom: 0; border-top: solid thin #e4e4e7; box-sizing: border-box; background: #fefefe;overflow: hidden;}

/*居中宽度*/
.wrap{width: 990px;margin: 0 auto;}

/*样式*/
.g-hd span{line-height: 32px;height: 32px;padding: 0 20px; color: #fff;font-size: 13px;}

.m-banner{width: 100%;height: 186px; background: #ccc;margin: 24px 0;}

.m-theme{width: 100%;height: 56px;margin-bottom: 20px;}

/*公用*/
.mn-title{width: 100%;height: 40px; line-height: 40px; border-bottom:solid thin #e4e4e7; box-sizing: border-box;}
.mn-title .txt1{width: 100%; height: 100%; line-height: 40px; float: left;}
.mn-title .txt2{margin-right: 120px; height: 100%; line-height: 40px; font-size: 16px;}
.mn-title .txt2 i{ display: inline-block;height: 40px;float: left; color: red; font-size: 20px; margin-right: 6px;}
.mn-title .more{position: relative;width: 120px; height: 100%;line-height: 40px;margin-left: -120px; float: right; text-align: right; font-size: 13px;}
.mn-title .more a:hover{text-decoration: underline;color: #000;}

/*三个theme*/
.ui-grid{display: -webkit-box; display: -moz-box;display: -o-box; display: -ms-flexbox; display: flex;width: 100%;height: 100%;}
.ui-grid .grid{flex: 1; -moz-box-flex: 1;-webkit-box-flex: 1; -o-box-flex: 1;-ms-flex: 1;height: 100%; border-right: solid thin #e4e4e7; box-sizing: border-box;}
.ui-grid .grid:last-child{border-right: none;}
.ui-grid .img{width: 56px;height: 56px; float: left; margin-right: 13px; border-radius: 50%; margin-left: 72px; 
	text-align: center; border: solid thin #fd0304; box-sizing: border-box; }
.ui-grid .img i{font-size: 36px; line-height: 60px; color:#c72e2e; }
.ui-grid .txt{height: 56px;}
.ui-grid .txt h3{height: 30px;line-height: 36px;font-weight: normal;}
.ui-grid .txt span{height: 20px;line-height: 20px;color: #999; font-size: 13px;}

.m-tjgd{margin-bottom: 20px;}
.tjgd-box{margin-left: -20px;}
.tjgd-box ul{width: 100%;}
.tjgd-box li{width: 182px;height: 220px; margin:20px 0 0 20px;float: left;}
.tjgd-box li .u-img{width: 100%;height:182px; text-align: center;}
.tjgd-box li .u-img img{width: 100%;height:182px;}
.tjgd-box li h3{width: 100%;height:38px;line-height: 38px;font-weight: normal;}
.tjgd-box li h3 a{width: 100%;height:38px; display: block; line-height: 38px;color: #000;text-overflow: ellipsis;white-space: nowrap; overflow: hidden; }
.tjgd-box li h3 a:hover{ text-decoration: underline;color: #000;}

.flex3-box{display: -webkit-box; display: -moz-box;display: -o-box; display: -ms-flexbox; display: flex; margin: 20px 0 13px -20px;}
.flex3-box .box{flex: 1; -moz-box-flex: 1;-webkit-box-flex: 1; -o-box-flex: 1;-ms-flex: 1;padding-left: 20px;background-clip: content-box;}
.flex3-box .box .img{background: #ccc;width: 100%;height: 180px;}
.flex3-box .box .img img{width: 100%;height: 180px;}
.flex3-box .box h3{width: 100%;font-weight: normal;}
.flex3-box .box h3 a{width: 100%;height:32px; display: block; line-height: 46px;color: #000;text-overflow: ellipsis;white-space: nowrap; overflow: hidden; }
.flex3-box .box span{height: 20px; line-height: 20px; color: #999; font-size: 13px;}


.zxyy-box{width: 100%;margin-bottom: 20px;}
/*zxyy*/
.numlistli-box{margin-top: 10px;}
.numlistli-box li{width: 50%;height: 60px; padding: 6px 0; float: left;  box-sizing: border-box;}
.numlistli-box li:hover{background: #e3e3e5;}
.numlistli-box li:nth-child(odd){border-right: solid thin #e4e4e7; box-sizing: border-box; }
.numlistli-box li .num{width: 34px;height: 100%; float: left; box-sizing: border-box; text-align: center; line-height:48px; font-size: 12px; }
.numlistli-box li .img{width: 48px;height: 100%; float: left; margin-right: 13px; text-align: center; }
.numlistli-box li .img img{width: 48px;height: 100%; display: inline-block;}
.numlistli-box li .txt{overflow: hidden;height:100%;}
.numlistli-box li .txt h3{width: 100%;/*height: 24px;*/font-weight: normal;overflow: hidden;  line-height: 24px;
	text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 1;}
.numlistli-box li .txt span{width: 100%;height: 24px; line-height: 24px; font-weight: normal; font-size: 13px; color:#999; }
.numlistli-box .bj{background: #f4f4f6;}

/*zxyy*/
.listli-box{}
.listli-box li{width: 50%;height: 90px; padding: 10px 0; float: left; border-bottom: solid thin #e4e4e7;  box-sizing: border-box;}
.listli-box li .img{width: 70px;height: 100%; float: left; margin-right: 13px; text-align: center; }
.listli-box li .img img{width: 70px;height: 100%; display: inline-block;}
.listli-box li .txt{overflow: hidden;height:100%;}
.listli-box li .txt h3{width: 100%;height: 40px;line-height: 46px; font-weight: normal;}
.listli-box li .txt span{width: 100%;height: 24px;font-weight: normal; font-size: 13px; color:#999; }

.m-order{width: 100%;height: 120px;}
.m-order .txt{text-align: center;width: 100%;height: 50px;line-height: 50px;font-size: 12px; color: #999; }
.m-order .btn-box{width: 100%;text-align: center;}
.m-order .ui-btn{text-align: center;width: 106px;height: 32px;line-height: 32px; border: solid thin #bc2f2e; display: inline-block; color:#bc2f2e; font-size: 12px; cursor: pointer; }
.m-order .ui-btn:hover{background: #bc2f2e;color: #fff; }


/* 播放条 */
.m-play{width: 100%;height: 60px;}
.m-play .left{width: 228px;height: 60px;float: left;}
.m-play .right{overflow: hidden;height: 60px;}

.m-play .btn-area{width: 100%;height: 60px;}
.m-play .btn-area div{width: 33.3%;height: 60px;float: left;display: -webkit-box; display: -moz-box;display: -o-box; display: -ms-flexbox; display: flex;align-items: center; justify-content: center; }
.m-play .btn-area i{display: inline-block; border-radius: 50%;line-height: 60px; overflow: hidden; color:#fd0304; font-size: 30px; width: 60px;height: 60px;}
.m-play .btn-area .pre i{text-align: right;}
.m-play .btn-area .next i{text-align: left;}
.m-play .btn-area .play i{font-size: 38px;text-align: center;}

.m-play  .right .img{width: 60px;height: 60px;float: left; padding: 7px 0;}
.m-play  .right .img img{width: 46px;height: 46px;}
.m-play  .right .txt{height: 60px; overflow: hidden;}
.m-play  .right .txt .mn{float:left;width:100%; height:60px; }
.m-play  .right .txt .mn2c{margin-right:230px;height:60px;}
.m-play  .right .txt .sd{position:relative;float:right;width:230px;margin-left:-230px;height:60px;}
.min-btn{width: 100%;display: -webkit-box; display: -moz-box;display: -o-box; display: -ms-flexbox; display: flex;height: 100%;}
.min-btn .btn{flex: 1; -moz-box-flex: 1;-webkit-box-flex: 1; -o-box-flex: 1;-ms-flex: 1;height: 100%;text-align: center; }
.min-btn .btn i{display: inline-block;width: 100%;height: 100%; text-align: center; font-size: 24px; color: #b1b1b1; line-height: 60px;}
.slide-txt{width: 100%;height: 30px; line-height: 30px; font-size: 12px; color: #999;}
.slide-box{width: 100%;position: relative; margin-top:5px;}
.slide-value{float: right;}
.slide-box .show{width: 100%; height: 3px; background-color:#e4e4e4; }
.slide-box .mover{height: 3px; background-color: #bc2f2e; top: 0; width: 50%; position: absolute; box-sizing: border-box;}
.slide-box .cover{width: 20px; height: 20px; overflow: hidden;  border-radius: 50%;background-color: #bc2f2e; top: -9px;  
	position: absolute; box-sizing: border-box; left: 50%;}

/*音乐列表*/
.music-list{width: 300px; position: fixed; top:32px;right:-320px;right:0; bottom:60px; background-color: #fff;  box-shadow: -2px 8px 20px 3px #dbdbdb ;transition: 0.5s;}
.music-list .music-ul{width: 100%;}
.music-list .music-ul{width: 100%;}
.music-list .music-ul li{padding:0 12px;height: 60px;border-bottom: solid thin #e4e4e7; box-sizing: border-box; display: flex;}
.music-list .music-ul li:nth-child(odd){background: #f8f9f9;}
.music-list .music-ul li:hover{background: #f0f0f0;}

.music-list .music-ul li .left{flex:1;height: 60px;overflow: hidden;}
.music-list .music-ul li .left .title{ height: 36px;line-height: 46px;font-size: 16px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.music-list .music-ul li .left .author{width: 100%;height: 24px;line-height: 16px;}


.music-list .music-ul li .right .time{width: 50px;height: 60px; display: block; text-align: center;line-height: 60px; color: #cacaca;margin-left: 12px;}
